# Quartus Prime build artifacts
db/
incremental_db/
output_files/
output_files_common/
simulation/
simulation_libs/
_db/
*.bak
*.chg
*.cmp
*.done
*.htm
*.jdi
*.key
*.pin
*.pof
*.qdf
*.qdz
*.qpf
*.qsf
*.qws
*.rdb
*.rpt
*.sld
*.smsg
*.sof
*.summary
*.sopcinfo

# ModelSim / QuestaSim artifacts
work/
modelsim.ini
transcript
wave/
*.mti
*.wlf
*.lck
*.log
